.searchBarStyle {
    width: 90%;
    border-radius: 30px;
    border: 1px solid gray;
}

.btnLightStyle {
    padding: 1% 2%;
    border-radius: 20px;
    border: none;
    background-color: #212529;
    color: white;
    font-weight: bold;
}

.btnDarkStyle {
    padding: 1% 2%;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: #212529;
    font-weight: bold;
}