.imgStyle {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.cardStyleLight {
    height: 600px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    background-color: #2125290f !important ;
    border-radius: 30px !important;
    border: none !important;
}

.cardStyleDark {
    height: 600px;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    background-color: white !important ;
    border-radius: 30px !important;
    border: none !important;
}

.titleStyle {
    font-size: 1em !important;
    font-weight: bold !important;
    height: fit-content !important;
    text-align: center;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: bold;
}

.asinStyle {
    font-size: 0.7em;
    color: gray;
}

.btnStyle {
    border: none;
    border-radius: 30px;
    background-color: #212529;
    color: white;
    font-weight: 400;
    font-size: 0.8em;
}

